@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


h1 {
	height: auto;
	margin: 3% 0%;
	color: #863BA0;
	/*font-family: var(--livvic);*/
	font-family: 'Playball', cursive;
	/*text-decoration: underline;*/
}

.content-obrve {
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	margin-left: 15%; 
	margin-right: 15%; 
	font-family: var(--poppins);


}



.obrva-prvi {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
	overflow: hidden;

}

.obrva-prvi .slika-prva {
	position: relative;
	/*margin: 40px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	overflow: hidden;
	width: 30%;
	margin: 3%;

}

.obrva-prvi .slika-prva img{
	/*height: 350px;*/
	position: relative;
	/*width: 350px;*/
	width: 100%;
	float: left;
	overflow: hidden;
 	transition: all 0.5s ease;

		/*padding-left: 300px;*/
}

.obrva-prvi .slika-prva > img:hover {
	overflow: hidden !important;
 	transform: scale(1.3);
}

.obrva-prvi .text-prvi {
	position: relative;
	width: 60%;
	text-align: center;
	justify-content: center;
	margin: auto;
	/*margin-left: 100px ;*/
	/*width: 70%;*/
	/*background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);*/
}

.obrva-prvi .text-prvi p {
	/*padding-top: 80px; */
	/*margin: auto !important;*/
}